body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;

}
header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #ffffff; /* Color de fondo del header */
  padding: 10px; /* Espaciado interior del header */
  text-align: center; /* Alinear el contenido del header al centro */
  z-index: 1000; /* Asegura que el header esté por encima de otros elementos */
  background-image: url('../img/fondCirculosDegrade.png'); /* Especifica la ruta de tu imagen como fondo */
  background-size: cover; /* Ajusta el tamaño de la imagen para cubrir todo el contenedor */
  background-position: center; /* Centra la imagen dentro del contenedor */
}
main {
  display: flex; /* Usa flexbox para alinear el contenido */
  justify-content: center; /* Centra el contenido horizontalmente */
  align-items: center; /* Centra el contenido verticalmente */
  height: calc(100vh - 20px); /* Establece la altura al 100% del viewport menos 20px */
  padding-bottom: 20px; /* Agrega un padding inferior */
}

  /*Login.html*/
#contenedorLogin {
  max-width: 400px; /* Establece un ancho máximo para el contenedor */
  width: 90%;
  margin: 0 auto; /* Centra el contenedor horizontalmente */
  margin-top: 50px; /* Añade un margen superior */
  background-color: #fff; /* Agrega un fondo blanco al contenedor */
  padding: 20px; /* Agrega espacio interno al contenedor */
  border-radius: 10px; /* Agrega bordes redondeados */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Agrega una sombra suave */

}

/*MEnu.html */
#contenedorMenu {
  max-width: 600px; /* Establece un ancho máximo */
  width: 90%; /* Establece un ancho del 90% del contenedor padre */
  margin: 0 auto; /* Centra el contenedor horizontalmente */
  padding: 5px; /* Agrega espacio interno al contenedor */
  border-radius: 10px; /* Agrega bordes redondeados */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Agrega una sombra suave */
  min-height:55vh;
  overflow: hidden;
  margin-bottom: 10px;
}
#formMenu {
  text-align: center; /* Centra el contenido del formulario */
}
#divSaldo {
  position: relative; /* Establece la posición relativa para que los elementos internos puedan posicionarse con respecto a este */
  background-image: url('../img/fondoDegradeCirculo.png'); /* Especifica la ruta de tu imagen como fondo */
  background-size: cover; /* Ajusta el tamaño de la imagen para cubrir todo el contenedor */
  background-position: center; /* Centra la imagen dentro del contenedor */
  padding: 30px; /* Añade un relleno alrededor del texto */
  color: white; /* Cambia el color del texto a blanco */
  font-weight: bold; /* Hace que el texto sea negrita */
  border-radius: 10px;
}
#btnGroupMenu {
  margin-top: 20px; /* Añade un margen superior */
  margin-bottom: 10px; /* Reducir el margen inferior */
  }
#btnDeposit, #btnEnviarDinero, #btnMov {
  background-color: #ffffff; /* Cambia el color de fondo */
  color: #00a2ff; /* Cambia el color del texto */
  border-color: #00a2ff;
  border-radius: 8px; /* Ajusta el radio de los bordes */
  padding: 10px 20px; /* Ajusta el relleno */
}
#btnDeposit:hover,#btnEnviarDinero:hover, #btnMov:hover {
  /* Estilos al pasar el ratón por encima */
  background-color: #00a2ff; /* Cambia el color de fondo al pasar el ratón */
  color: #ffffff; /* Cambia el color del texto al pasar el ratón */
}


/*Deposit.html*/
#contenedorDeposit {
  max-width: 600px; /* Establece un ancho máximo */
  width: 90%; /* Establece un ancho del 90% del contenedor padre */
  margin: 0 auto ; /* Centra el contenedor horizontalmente */
  padding: 20px; /* Agrega espacio interno al contenedor */
  border-radius: 10px; /* Agrega bordes redondeados */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Agrega una sombra suave */
  min-height:10vh;
  overflow: hidden;;
  margin-bottom: 10px;
}
#bannerSaldoDeposit {
  position: relative; /* Establece la posición relativa para que los elementos internos puedan posicionarse con respecto a este */
  background-image: url('../img/fondoDegradeCirculo.png'); /* Especifica la ruta de tu imagen como fondo */
  background-size: cover; /* Ajusta el tamaño de la imagen para cubrir todo el contenedor */
  background-position: center; /* Centra la imagen dentro del contenedor */
  padding: 10px; /* Añade un relleno alrededor del texto */
  color: white; /* Cambia el color del texto a blanco */
  font-weight: bold; /* Hace que el texto sea negrita */
  border-radius: 10px;
}
#tituloDeposito {
  font-size: 20px; /* Tamaño de fuente */
  font-weight: bold; /* Negrita */
  color: #333; /* Color del texto */
  margin-bottom: 20px; /* Espacio inferior */
}
#btnMontoDeposit,
#goToMenu {
  background-color: #ffffff; /* Cambia el color de fondo */
  border-radius: 8px; /* Ajusta el radio de los bordes */
  padding: 10px 20px; /* Ajusta el relleno */
  margin-right: 10px; /* Espaciado entre los botones */
}
#btnMontoDeposit{
  color: #00a2ff; /* Cambia el color del texto */
  border-color: #00a2ff;
}
#goToMenu{
  color: #6c757d; /* Cambia el color del texto */
  border-color: #6c757d;
}
#btnMontoDeposit:hover {
  /* Estilos al pasar el ratón por encima */
  background-color: #00a2ff; /* Cambia el color de fondo al pasar el ratón */
  color: #ffffff; /* Cambia el color del texto al pasar el ratón */
}
#goToMenu:hover {
  /* Estilos al pasar el ratón por encima */
  background-color: #6c757d; /* Cambia el color de fondo al pasar el ratón */
  color: #ffffff; /* Cambia el color del texto al pasar el ratón */
}

/*Sendmoney.html*/
#contenedorSendMoney {
  max-width: 600px; /* Establece un ancho máximo */
  width: 90%; /* Establece un ancho del 90% del contenedor padre */
  margin: 0 auto; /* Centra el contenedor horizontalmente */
  padding: 20px; /* Agrega espacio interno al contenedor */
  border-radius: 10px; /* Agrega bordes redondeados */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Agrega una sombra suave */
}
/* Estilos para el formulario */
#formSendMoney {
  text-align: center; /* Centra el contenido del formulario */
}

/*contenedor de botones */
.d-flex.justify-content-center.mt-3 {
  display: flex; /* Utiliza flexbox para alinear los elementos */
  align-items: center; /* Centra los elementos verticalmente */
}
/*botones */
#btnTransferir,
#btnAgregarContacto {
  background-color: #ffffff; /* Cambia el color de fondo */
  color: #00a2ff; /* Cambia el color del texto */
  border-color: #00a2ff;
  border-radius: 8px; /* Ajusta el radio de los bordes */
  padding: 10px 20px; /* Ajusta el relleno */
}
#btnTransferir:hover,
#btnAgregarContacto:hover {
  background-color: #00a2ff; /* Cambia el color de fondo al pasar el ratón */
  color: #ffffff; /* Cambia el color del texto al pasar el ratón */
}
#divSaldoDeposit {
  position: relative; /* Establece la posición relativa para que los elementos internos puedan posicionarse con respecto a este */
  background-image: url('../img/fondoDegradeCirculo.png'); /* Especifica la ruta de tu imagen como fondo */
  background-size: cover; /* Ajusta el tamaño de la imagen para cubrir todo el contenedor */
  background-position: center; /* Centra la imagen dentro del contenedor */
  padding: 10px; /* Añade un relleno alrededor del texto */
  color: white; /* Cambia el color del texto a blanco */
  font-weight: bold; /* Hace que el texto sea negrita */
  border-radius: 10px;
}


/*Transactions.html*/

#filtroSelect {
  position: relative; /* Establece la posición relativa para que los elementos internos puedan posicionarse con respecto a este */
  background-image: url('../img/fondoDegradeCirculo.png'); /* Especifica la ruta de tu imagen como fondo */
  background-size: cover; /* Ajusta el tamaño de la imagen para cubrir todo el contenedor */
  background-position: center; /* Centra la imagen dentro del contenedor */
  padding: 10px; /* Añade un relleno alrededor del texto */
  color: white; /* Cambia el color del texto a blanco */
  font-weight: bold; /* Hace que el texto sea negrita */
  border-radius: 10px;
  
}
#histMov {
  max-height: 300px; /* Establece una altura máxima para el div */
  overflow-y: auto; /* Agrega una barra de desplazamiento vertical cuando sea necesario */
}
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-image: url('../img/fondoDegradeCirculo.png'); /* Especifica la ruta de tu imagen como fondo */
  background-size: cover; /* Ajusta el tamaño de la imagen para cubrir todo el contenedor */
  background-position: center; /* Centra la imagen dentro del contenedor */
  padding: 10px; /* Espaciado interior del footer */
  text-align: center; /* Alinear el contenido del footer al centro */
  color: white;
  font-weight: bold;
}
